@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  user-select: none;
  touch-action: none;
}

/*
Normal Zoom
*/
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 1s forwards;
}

.zoom-out {
  animation: zoomOut 1s forwards;
}

.button-container {
  display: flex;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
}